/* Font Declaration  */
@font-face {
  font-display: swap;
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Font Declaration  */

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
/* CSS Reset */

/* CSS Variables */
:root {
  --ff-primary: "Sora", verdana, sans-serif;
  --fw-heading: 700;
  --fw-body: 400;
  --fw-list-items: 300;
  --fs-list-item: 0.875rem;
  --fs-body-2: 1rem;
  --fs-body: 1.25rem;
  --fs-heading: 2.25rem;
  --line-height-body: 1.8;

  --clr-primary: #f5c044;
  --clr-secondary: #18181b;
  --clr-accent: #4ca154;
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #fafaf9;
  --clr-neutral-600: #d4d4d8;
  --clr-neutral-900: #52525a;

  --spacer: 1.2rem;
}
/* CSS Variables */

/* General Styling */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-body);
  line-height: var(--line-height-body);

  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}
/* General Styling */

/* Typography */
h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1;
  color: var(--clr-secondary);
}

h1 {
  font-size: var(--fs-heading);
}

h2 {
  font-size: var(--fs-body-2);
}
/* Typography */

/* Layout */
.container {
  width: 88%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__inner,
.testimonials__cards__inner,
.review-card__visual,
.review-card__visual-stars {
  display: flex;
  flex-wrap: wrap;
}

.testimonials__inner,
.testimonials__cards__inner {
  display: flex;
  flex-direction: column;
}

.testimonials__inner {
  gap: 2rem;
}

.testimonials__cards__inner {
  gap: 2.5rem;
}

.review-card__visual {
  gap: 1rem;
}

.review-card__visual-stars {
  gap: 0.3rem;
}

.testimonials__inner > *,
.testimonials__cards__inner > * {
  flex: 1;
}

.testimonials__cards__inner > *:nth-child(odd) {
  align-self: flex-end;
}

.testimonials__cards__inner > *:nth-child(even) {
  align-self: flex-start;
}

.review-card__visual-stars {
  align-items: center;
}

section.testimonials {
  padding-top: 5rem;
}

.testimonials__cards {
  padding: 0.6rem 0;
}

.review-card {
  max-width: 360px;
}

@media only screen and (min-width: 1040px) {
  .testimonials__inner {
    flex-direction: row;
  }

  section.testimonials {
    padding-top: 10.1rem;
  }
}
/* Layout */

/* Testimonials Styles */

/* --- emoji star at testimonials intro --- */
.testimonials__intro-star {
  /* transform: translateY(-8px); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--clr-primary);
}

.testimonials__intro-star > img {
  width: 25px;
  height: 25px;
}
/* --- emoji star at testimonials intro --- */

/* --- testimonial checklist --- */
.testimonials__checklist {
  display: grid;
  gap: 0.3rem;
  font-size: var(--fs-list-item);
}

.testimonials__checklist > li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 2rem;
  align-items: start;
}

.testimonials__checklist > li::before {
  content: url("../assets/images/Done_ring_round_fill.svg");
}
/* --- testimonial checklist --- */

/* --- review card (testimonial card) --- */
.review-card {
  background-color: var(--clr-neutral-100);
  padding: 1.8rem 2.8rem;
  box-shadow: 5px 5px 33px rgba(212, 212, 216, 0.233);
  border-radius: 10px;
  font-size: var(--fs-body-2);
}

.review-card__visual-logo > img {
  max-width: 86px;
}
/* --- review card (testimonial card) --- */

/* Testimonials Styles */

/*  Utilities  */
.flow-content > * + * {
  margin-top: var(--spacer, 1rem);
}

.flow-content--large {
  --spacer: 2rem;
}

.flow-content--small {
  --spacer: 0.8rem;
}
/*  Utilities  */
